<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Client app</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <script defer src="javascripts/virtualjoystick.js"></script>
  <script defer src="javascripts/application.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>
